<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>CAKE PARADISE</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
        h1, h2, h3 {
            font-family: 'Playfair Display', serif;
        }
        .menu-title {
            text-align: center;
            margin-top: 20px;
        }
        .menu-description {
            text-align: center;
            margin-bottom: 20px;
            font-size: 1.2em;
            color: #555;
        }
        .menu-item {
            margin-bottom: 20px;
        }
        .prices ul {
            list-style-type: none;
            padding: 0;
        }
        .prices ul li {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="menu-title">
                    <h1 class="menu" id="cake-paradise">CAKE PARADISE</h1>
                    <h2 class="menu" id="tagline">For Your Delightful Baked Goods</h2>
                    <p class="menu-description">Enjoy a variety of cakes and baked products delivered to your home with ease. Choose from assorted types, make online payments, and get it delivered at your comfort.</p>
                </div>
                <div class="row" style="border: 1px solid black;">
                    <div class="col-md-6">
                        <h1 class="menu" id="cake-paradise">CAKE PARADISE</h1>
                        <h1 class="menu" id="cake-paradise">RESTAURANT</h1>
                        <p class="menu" id="authen">For your authentic and delicious cakes</p>
                    </div>
                    <div class="col-md-6">
                        <img src="Cake-Images/Cake Paradise Background.jpg" width="250px" alt="Cake Paradise Background.jpg">
                    </div>
                </div>
                <div class="row1" style="border: 1px solid black; text-align: center;">
                    <h3 class="title"><strong>Chocolate Delight</strong></h3>
                    <p class="menu-item">Rich chocolate cake with layers of dark chocolate ganache and chocolate frosting.</p>
                    <h3 class="title"><strong>Vanilla Dream</strong></h3>
                    <p class="menu-item">Classic vanilla cake with buttercream frosting and a hint of vanilla bean.</p>
                    <h3 class="title"><strong>Red Velvet</strong></h3>
                    <p class="menu-item">Moist red velvet cake with cream cheese frosting and a touch of cocoa.</p>
                    <h3 class="title"><strong>Lemon Burst</strong></h3>
                    <p class="menu-item">Tangy lemon cake with lemon curd filling and lemon buttercream.</p>
                    <h3 class="title"><strong>Carrot Delight</strong></h3>
                    <p class="menu-item">Spiced carrot cake with cream cheese frosting and chopped walnuts.</p>
                    <h3 class="title"><strong>Marble Magic</strong></h3>
                    <p class="menu-item">A mix of chocolate and vanilla cake swirled together, topped with ganache.</p>
                </div>
                <div class="row1 prices" style="border: 1px solid black;">
                    <h2 class="title"><strong>PRICES</strong></h2>
                    <div class="col-md-6">
                        <p><strong>For every cake apart from <em>Chocolate Delight</em> and <em>Red Velvet:</em></strong></p>
                        <ul>
                            <li>Small @ NGN 3000</li>
                            <li>Medium @ NGN 5000</li>
                            <li>Large @ NGN 7000</li>
                            <li>Jumbo @ NGN 9000</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p><strong>For <em>Chocolate Delight</em> and <em>Red Velvet:</em></strong></p>
                        <ul>
                            <li>Small @ NGN 4000</li>
                            <li>Medium @ NGN 6000</li>
                            <li>Large @ NGN 8000</li>
                            <li>Jumbo @ NGN 10000</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>

